# ─── DEPENDENCIAS ─────────────────────────────
node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*

# ─── EXPO ─────────────────────────────────────
.expo/
dist/
web-build/
expo-env.d.ts

# ─── METRO BUNDLER ───────────────────────────
.metro-health-check*
*.tsbuildinfo

# ─── NATIVO (EAS, ANDROID / IOS) ─────────────
android/
ios/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# ─── SISTEMA / OS ────────────────────────────
.DS_Store
*.pem

# ─── ENTORNOS LOCALES / SECRETOS ─────────────
.env
.env*.local
.env.*.local
firebase-debug.log
node_modules/
.expo/
.expo-shared/
android/.gradle/
android/app/debug.keystore
